/* .my-pagination::ng-deep .page-item.active .page-link {
  z-index: 1;
  color: #cf0606;
  background-color: red !important;
  border-color: #009da0;

} */

.pagination ::ng-deep .ngx-pagination .current {
    background: red;
}

/* .ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px !important;
  border: transparent !important;
} */
